.timeline ul {
  padding-left: 0;
}
.timeline ul li {
  list-style: none;
  position: relative;
  padding-top: 70px;
  width: 2px;
  margin: 0 auto;
  background-color: #EFEFEF;
}
.timeline ul li .year {
  background-color: #FD9827;
  position: absolute;
  top: 0;
  left: -28px;
  width: 58px;
  height: 58px;
  /* Rotate to demon*/
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.timeline ul li .year p {
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  /* Rotate back to horizon*/
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.timeline ul li .event {
  padding-bottom: 10px;
  position: relative;
  width: 300px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.timeline ul li .event .mark {
  border: 1px solid #CCCCCC;
  position: absolute;
  top: 15px;
  width: 27px;
  height: 27px;
  /* Rotate to demon*/
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.timeline ul li .event .line {
  position: absolute;
  top: 29px;
  width: 160px;
  height: 1px;
  padding: 0px;
  background-color: #CCCCCC;
}
.timeline ul li .event time {
  color: #333333;
  font-size: 16px;
}
.timeline ul li .event p {
  margin-top: -2px;
  color: #666666;
  font-size: 14px;
}
.timeline ul li .event:nth-child(even) {
  left: 230px;
  transform: translateX(200px);
}
.timeline ul li .event:nth-child(even) .mark {
  left: -205px;
}
.timeline ul li .event:nth-child(even) .line {
  left: -171px;
}
.timeline ul li .event:nth-child(odd) {
  text-align: right;
  left: -525px;
  transform: translateX(-200px);
}
.timeline ul li .event:nth-child(odd) .mark {
  left: 475px;
}
.timeline ul li .event:nth-child(odd) .line {
  left: 310px;
}
.timeline ul li .event.in-view {
  transform: none;
  visibility: visible;
  opacity: 1;
}
.timeline ul li .event.in-view::after {
  background-color: #FD9827;
  transition: background-color 0.5s ease-in-out;
}
@media (max-width: 692px) {
  .timeline ul li {
    margin-left: 45px;
  }
  .timeline ul li .event {
    width: 200px;
  }
  .timeline ul li .event:nth-child(even),
  .timeline ul li .event:nth-child(odd) {
    left: 145px;
    text-align: left;
  }
  .timeline ul li .event:nth-child(even) .mark,
  .timeline ul li .event:nth-child(odd) .mark {
    left: -120px;
  }
  .timeline ul li .event:nth-child(even) .line,
  .timeline ul li .event:nth-child(odd) .line {
    left: -85px;
    width: 80px;
  }
}
@media (min-width: 692px) and (max-width: 992px) {
  .timeline ul li .event {
    width: 200px;
  }
  .timeline ul li .event:nth-child(even) .line,
  .timeline ul li .event:nth-child(odd) .line {
    width: 90px;
  }
  .timeline ul li .event:nth-child(odd) {
    left: -350px;
  }
  .timeline ul li .event:nth-child(odd) .mark {
    left: 300px;
  }
  .timeline ul li .event:nth-child(odd) .line {
    left: 205px;
  }
  .timeline ul li .event:nth-child(even) {
    left: 150px;
  }
  .timeline ul li .event:nth-child(even) .mark {
    left: -125px;
  }
  .timeline ul li .event:nth-child(even) .line {
    left: -92px;
  }
}
