.timeline {
  ul {
    padding-bottom: 24px;
    li {
      list-style: none;
      position: relative;
      padding-top: 70px;
      width: 2px;
      margin: 0 auto;
      background-color: #EFEFEF;
      .year {
        background-color: #FD9827;
        position: absolute;
        top: 0;
        left:-28px;
        width: 58px;
        height: 58px;
        /* Rotate to demon*/
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        p {
          color:#FFFFFF;
          text-align: center;
          font-size:16px;
          /* Rotate back to horizon*/
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
      .event {
        padding-bottom:15px;
        //left: 220px;
        position: relative;
        width: 300px;
        visibility: hidden;
        opacity: 0;
        transition: all .5s ease-in-out;
        //transform: translateX(200px);
        .mark {
          border:1px solid #CCCCCC;
          position: absolute;
          //left:-200px;
          top:15px;//xiu
          width: 27px;
          height: 27px;
          /* Rotate to demon*/
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
        .line {
          position: absolute;
          //left:-166px;
          top:29px;
          width:160px;
          height:1px;
          padding:0px;
          background-color:#CCCCCC;
        }
        time {
          color: #333333;
          font-size: 16px;
        }
        p {
          margin-top: -2px;
          color: #666666;
          font-size: 14px;
        }
        &:nth-child(even) {
          left: 220px;
          transform: translateX(200px);
          .mark {
            left:-200px;
          }
          .line {
            left:-166px;
          }
        }
        &:nth-child(odd) {
          text-align: right;
          left: -550px;
          transform: translateX(-200px);
          .mark {
            left:500px;
          }
          .line {
            left:336px;
          }
        }
        &.in-view {
          transform: none;
          visibility: visible;
          opacity: 1;
        }
        &.in-view::after {
          background-color: #FD9827;
          transition: background-color .5s ease-in-out;
        }
      }

      //@media screen and(max-width: 992px) {
      //  .event:nth-child(odd) {
      //    p{
      //      width: 250px;
      //    }
      //
      //  }
      //
      //  .timeline ul li .event:nth-child(even) {
      //    left: -289px;
      //  }
      //}
      //
      //@media screen and (max-width: 675px) {
      //  .timeline ul li {
      //    margin-left: 48px;
      //    .event {
      //      &:nth-child(even) , &:nth-child(odd) {
      //        left: 45px;
      //
      //        &::before {
      //          left: -15px;
      //          border-width: 8px 16px 8px 0;
      //          border-color: transparent #F45B69 transparent transparent;
      //        }
      //      }
      //    }
      //
      //  }
      //}
    }
  }
}